<table class="table checklist-dns-zone-records">
  <thead>
    <tr>
      <th>Domain</th>
      <th width="10%">Type</th>
      <th width="50%">Answers</th>
      <th width="15%">Keep</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='record in $ctrl.recordsList'>
      <td>{{record.domain}}</td>
      <td>{{record.type}}</td>
      <td>
        <ul style="padding: 0;white-space: normal;">
          <li style_="display: inline;" ng-repeat="answer in record.answers">
            {{answer.answer | mergearray}}<span ng-if="!$last">,</span>
            <!-- TODO: add new view of data?? -->
            <!-- <dns-zone-record-answer-short-info class="col-sm-10" record-type="{{record.type}}" ng-model="answer"></dns-zone-record-answer-short-info> -->
          </li>
        </ul>

      </td>
      <td>
        <input ng-if="record.$$isAdded === false || record.$$isExists === false" type="checkbox" class="inline-block" ng-model="record.$$isSelected"
          ng-change="record.$$isAdded=null">
        <span class="label label-info" ng-if="record.$$isExists === true"> Exists</span>
        <span class="label label-success" ng-if="record.$$isExists == true && record.$$isAdded === true"> Added</span>
        <!-- TODO: add error message-->
        <span class="label label-warning" ng-if="record.$$isAdded === false"> Error </span>
      </td>
    </tr>
  </tbody>
</table>
