<table class="table checklist-dns-zone-records">
  <thead>
    <tr>
      <th>Domain</th>
      <th width="8%">Type</th>
      <th width="7%">TTL</th>
      <th _width="40%">Answers</th>
      <th width="25%" class="text text-center">Keep</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in $ctrl.recordsList">
      <td>{{record.domain}}</td>
      <td>{{record.type}}</td>
      <td>{{record.ttl}}</td>
      <td>
        <ul style="padding: 0;white-space: normal;">
          <li ng-repeat="answer in record.answers">
            {{answer.answer | mergearray}}<span ng-if="!$last">,</span>
          </li>
        </ul>
      </td>
      <td class="text text-center" >
        <input ng-if="(!record.$$isExists || record.$$isExists === false) && record.$$isAdded!==true &&record.$$isError !==true"
          type="checkbox" class="inline-block" style="margin-left: 0px;" ng-model="record.$$isSelected" ng-change="record.$$isAdded=null">
        <span class="label label-info" ng-if="record.$$isExists === true && record.$$isDifferentExist === false"> Already Exists </span>
        <div class="label label-warning" ng-if="record.$$isExists === true && record.$$isDifferentExist === true"> Exists With Different Answer(s) </div>
        <span class="label label-success" ng-if="record.$$isAdded === true"> Added</span>
        <span class="label label-danger inline-block" ng-if="record.$$isError === true" popover-append-to-body="{{false}}" popover-trigger="mouseenter"
          popover-placement="left" uib-popover="{{record.$$errorMessage|| 'Error'}}"> Error
          <i class="fa fa-info-circle"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>
