<div class="modal-header">
  <h3 class="modal-title">Information</h3>
</div>
<div class="modal-body">
  <p class="text"> The system has received your request to auto-generate WAF rules for domain {{model.domain_name}} for time period {{model.time_period}}.
  When the process will be completed you will receive an email notification. After that you are welcome to review the new
  WAF rule and manually enable it for the domain.</p>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
  <button class="btn btn-danger" type="button" ng-click="ok()">Close</button>
</div>
