html,
body {
  height: 100%;
}
body {
  padding-top: 60px;
}
.main-layout {
  overflow-x: auto;
}
.pointer {
  cursor: pointer;
}
.page-content {
  min-height: 100%;
}
.page-inner {
  background-color: #eeeeee;
}
.layout {
  height: 100%;
}
.page-title {
  margin-bottom: 24px;
}
section[main] {
  overflow: auto;
  background-color: #eeeeee;
}
.max-height-pre {
  max-height: 400px;
  overflow: auto;
}
.log-details {
  cursor: pointer;
}
.log-details:hover {
  padding-left: 2px;
}
.strong {
  font-weight: bold;
}
.spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.margin-top {
  margin-top: 2em;
}
.margin-sm-top-bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}
table {
  table-layout: fixed !important;
}
table th.thin {
  width: 70px;
}
table th.actions {
  width: 120px;
}
table tbody tr.disabled > td,
table tbody tr.disabled > th {
  color: #adafaf;
}
table tbody tr.disabled > td .spin,
table tbody tr.disabled > th .spin {
  color: #2E2F2F;
}
table tbody tr.loading > td,
table tbody tr.loadingth {
  cursor: progress;
}
table tbody .actions a {
  margin-right: 10px;
}
select.form-control.fixed {
  width: 150px;
}
select.form-control.fixed135 {
  width: 135px;
}
.popover {
  z-index: 999;
}
table tbody tr td {
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody tr td.uppercase {
  text-transform: uppercase;
}
alert-list {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 70px;
}
alert-list alert {
  position: relative;
  left: -50%;
  min-width: 200px;
}
.list-input {
  border: none;
  background-color: transparent;
}
.main_img_container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.main_img_container img {
  width: 100%;
  height: 100%;
}
.login-section {
  height: 100%;
  background: #f2f2f2;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login_box {
  background-color: rgba(41, 41, 41, 0.6);
  border-radius: 10px;
  height: auto;
}
.login_box .form-control {
  background-color: transparent;
  color: #fff;
}
.login_box input.ng-invalid-email {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 0, 0, 0.6);
}
.login_box .ng-submitted input.ng-invalid-required {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 0, 0, 0.6);
}
#main .footerNoteA {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}
.footerNoteA,
.footerNoteB {
  font-size: 14px;
}
.footerNoteA {
  float: none;
}
.login_form {
  margin: 2%;
}
.login_form .btn-link {
  color: #fff;
}
.login_form .input-sm {
  height: 30px;
}
.logo {
  display: block;
  height: 68px;
  left: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 231px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.alert-absolute {
  position: absolute;
  top: 100px;
  width: 40%;
  left: 30%;
}
#drawer {
  z-index: 999;
}
section[drawer] {
  background-color: #2E2F2F;
}
section[drawer] #logo {
  background-color: #606363;
  height: 52px;
}
section[drawer] #logo img {
  margin: 8px 5px;
  vertical-align: middle;
  width: 50%;
}
section[drawer] .side-menu .side-menu-item {
  cursor: pointer;
  display: block;
  height: 60px;
  line-height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #f7941e;
  border-bottom: 1px solid #3b3c3c;
  text-decoration: none;
}
section[drawer] .side-menu .side-menu-item.selected {
  background-color: #151515;
}
section[drawer] .side-menu .side-menu-item.active {
  border-right: 2px solid #f7941e;
}
section[drawer] .side-menu .side-menu-item i {
  margin: 0 10px;
}
.navbar {
  margin: 0;
  border: none;
}
.navbar .navbar-inner a.two-line {
  line-height: 30px;
}
.navbar .navbar-inner li.active {
  border-bottom: 2px solid #66b2bf;
}
.navbar .navbar-inner div[paper-drawer-toggle] {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
}
.navbar .navbar-inner .user {
  margin-right: 20px;
  height: 50px;
}
.navbar .navbar-inner .user img {
  max-height: 40px;
}
.navbar .navbar-inner .user li.fit {
  text-align: right;
  margin-top: 6px;
}
.nav > li {
  text-align: center;
  height: 50px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 16px;
}
.top-menu {
  padding: 20px;
  margin-top: 10px;
}
.top-menu button {
  min-width: 150px;
  margin-right: 16px;
}
.flex {
  width: 100%;
}
.land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
.tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}
.tooltip_key {
  font-weight: bold;
}
.tooltip_value {
  margin-left: 20px;
  float: right;
}
svg {
  width: 100%;
  height: 100%;
}
path.slice {
  stroke-width: 2px;
}
polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.slice {
  stroke: #fff;
}
