<div class="modal-header">
  <h3 class="modal-title">Edit Notification List Name</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="currentNotificationListForm">
    <div class="form-group">
      <label class="col-sm-12"> Please enter new Name for Notification List:</label>
    </div>
    <div class="form-group" ng-class="{ 'has-error': currentNotificationListForm.notificationListName.$invalid && currentNotificationListForm.notificationListName.$dirty }">
      <div class="col-sm-12">
        <input type="text" autofocus class="form-control inline-block" ng-disabled="_loading" ng-model="model.list_name" name="notificationListName"
          id="notificationListName" placeholder="New List Name" ng-maxlength="150" validate-uniqueness-in-array-notification-lists="exists_names"
          required>
        <label for="notificationListName" class="text-info" popover-append-to-body="{{false}}" popover-trigger="mouseenter" popover-placement="left"
          uib-popover="Specify here the unique name of the notification list (150 characters max). The name is for reference purpose only.">
          <i class="fa fa-question-circle"></i>
        </label>
        <div class="error-messages" ng-messages="currentNotificationListForm.notificationListName.$error" role="alert" ng-messages-multiple>
          <div ng-messages-include="parts/shared/error-messages.html"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" ng-disabled="currentNotificationListForm.$invalid" ng-click="ok(model.list_name)">OK</button>
</div>
