// styles for the module "domains"
//directive "domain-select"
.domain-select{
  min-width: 300px;
}
// section  domain-caching-rules
.domain-caching-rules {
  &__info {
    .panel-buttons-left {
      padding-right: 30px;
    }
  }
  & .table-headers-info {
    tr > th {
      text-align: center;
    }
    .table-title--operation {
      width: 120px;
    }
  }
  // NOTE: hardcode fix for ui-select
  .ui-select-container {
    input::-webkit-input-placeholder,
    .ui-select-search {
      min-width: 200px;
    }
  }
  input[type="number"] {
    max-width: 120px;
  }
}

.caching-rules-list {
  .panel-buttons-left {
    padding-right: 20px;
  }
}

.domain-waf-locations {
  .panel-buttons-left {
    padding-right: 20px;
  }
  .location-panel-into--totals{
     padding-right: 10px;
  }
  .duplicateWAFLocationBtn{
    margin-right: 10px;
  }
  table tbody tr td {
    max-width: none;
  }
}
form.domain-edit-form {
  input[type="number"] {
    max-width: 120px;
  }
  & .tab-pane {
    margin: 20px 0px;
  }
  .nav-tabs>li {
    margin-bottom: -6px;
    > a {
      color: @app-side-menu-text-color;
    }
    &.active>a {
      color: @app-color-orange-logo;
    }
  }
}

.btn {
  &-copy--cname {
    margin-left: 10px;
  }
}
