html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

.main-layout {
  overflow-x: auto;
}

.pointer {
  cursor: pointer;
}

.page-content {
  min-height: 100%;
}

.page-inner {
  //padding-top: 20px;
  //position: relative;
  background-color: @app-color-grey-200;
}

.layout {
  height: 100%;
}

.page-title {
  margin-bottom: 24px;
}

section[main] {
  overflow: auto;
  background-color: @app-color-grey-200;
}

.max-height-pre {
  max-height: 400px;
  overflow: auto;
}

.log-details {
  cursor: pointer;

  &:hover {
    padding-left: 2px;
  }
}

.strong {
  font-weight: bold;
}

.spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.margin-top {
  margin-top: 2em;
}

.margin-sm-top-bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
  table-layout: fixed !important;
}

table {
  th {

  }
  th.thin{
    width: 70px;
  }
  th.actions {
    width: 70px;
  }

  tbody {

    tr.disabled {
      &>td, &>th {
        color: @app-color-text-disabled;

        .spin {
          color: @app-color-grey;
        }
      }
    }

    tr.loading {
      &>td, &th {
        cursor: progress;
      }
    }

    .actions {
      a {
        margin-right: 10px;
      }
    }
  }
}

.ui-select-multiple.ui-select-bootstrap, input.ui-select-search {
  max-width: 550px;
}

.select2-container {
  min-width: 300px;
}

select.form-control {
  max-width: 550px;
}
select.form-control.fixed {
  width: 150px;
}
select.form-control.fixed135 {
  width: 135px;
}

input.form-control {
  max-width: 550px;
}

.popover {
  z-index: 999;
}


table tbody tr td {
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tbody tr td.uppercase {
  text-transform: uppercase;
}
.billing-plan {
  margin-right: 5px;
  margin-bottom: 5px;
}
h1.signup {
  margin-top: auto;
  color: @app-color-grey-logo;
}

alert-list {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 70px;

  alert {
    position: relative;
    left: -50%;
    min-width: 200px;
  }
}

.list-input {
  border: none;
  background-color: transparent;
}

/* To hide "Powered by Ace" label in the JSON editor */
a.poweredBy {
  display: none;
}

input[type="radio"]{
  margin-left: 20px;
}

input[type="checkbox"]{
  margin-left: 20px;
}

.title-actions {
  display: inline-block;
  float: right;
  margin: 20px 0 24px 0;
}
.copyCell {
  position: relative;
  &:hover>.copyKey {
    display: block;
  }
}

.copyKey {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background: white;
  display: none;
  &:hover {
    color: #838bc5;
  }
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
  }
}
