@import "colors";
@import "variables";
@import "elements/block";
@import "elements/panel";
@import "page";
@import "common";
@import "login";
@import "signup";
@import "sidebar";
@import "navbar";
@import "heatmaps";
@import "charts";
@import "shared/filter-generator";
@import "widget";
@import "dashboards";
@import "logshippers";
@import "domains";
@import "revapm-icons";
@import "billing-plan";
@import "subscription-summary";
@import "time-note-display";
@import "users";
@import "intro";
@import "loading-bar";
@import "account";
@import "goodbye";
@import "angular-object-diff";
@import "staging-environment";
@import "ssl-names";
@import "dns-zones";
@import "footer";
@import "filter-activity-log";
@import "domain-lua-scripting";
@import "azure-sso";
@import "usage-web";
@import "dns_analytics";
@import "loader";
@import "waf-rules";
@import "waf-analytics";
@import "waf-heatmap";
@import "cdn-ip-blocks";
@import "edge-cache";
@import "groups";

// NOTE: global class
.block-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

label i.fa-question-circle {
  color: @app-color-blue;
}

textarea.inline-block {
  display: inline-block;
  float: left;
  margin-right: 3px;
}

table {
  & .actions {
    & .disabled {
      opacity: 0.4;
    }
  }
}

a.btn.disabled {
   cursor: not-allowed;
}

// NOTE: scroll content
// .description-link{
//     white-space: normal;
//     word-break: break-word;
//     max-height: 50px;
//     display: block;
// }
