<div class="modal-header">
  <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="forgotForm" ng-submit="forgot(forgotForm)" novalidate>
    <div class="form-group" ng-class="{'has-error': forgotForm.email.$invalid && forgotForm.email.$dirty}">
      <div class="col-sm-8 col-sm-offset-2">
        <input type="email" class="form-control" ng-model="data.email" id="email" name="email" placeholder="Enter your email here" ng-disabled="data.loading" required autofocus ng-disabled="data.loading">
        <div class="error-messages" ng-messages="forgotForm.email.$error" role="alert">
          <div ng-messages-include="parts/shared/error-messages.html"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="close()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="forgot(forgotForm)" ng-disabled="!data.email || data.loading ||forgotForm.$invalid">Submit</button>
</div>
