<div class="end-user-response-headers" >
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"> End User Response Headers </div>
    <!--     <div class="panel-body">
      <p>...</p>
    </div> -->
    <!-- Table -->
    <table class="table table-headers-info">
      <thead></thead>
      <tr>
        <th>Header Name</th>
        <th>Header Value</th>
        <th class="table-title--operation">Operation</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="line in $ctrl.end_user_response_headers">
          <td>{{line.header_name}}</td>
          <td>{{line.header_value}}</td>
          <td>{{line.operation}}</td>
          <td>
            <button class="btn btn-warning btn-xs btn-delete-end_user_response_headers" type="button" ng-click="$ctrl.onDelete($index)" title="Delete Header">
              <i class="glyphicon glyphicon-remove"> Delete</i>
            </button>
          </td>
        </tr>
        <!-- New line-->
        <tr ng-form="newLineForm" class="well">
          <td ng-class="{ 'has-error': newLineForm.headerName.$invalid && newLineForm.headerName.$dirty }">
            <input type="text" validate-caching-rule-header-name name="headerName" class="form-control" ng-model="$ctrl.newEndUserResponseHeader.header_name" placeholder="New Header Name" required>
            <div class="error-messages" ng-messages="newLineForm.headerName.$error" role="alert" ng-messages-multiple="false">
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </td>
          <td ng-class="{ 'has-error': newLineForm.headerValue.$invalid && newLineForm.headerValue.$dirty }">
            <input type="text" validate-caching-rule-header-value name="headerValue" class="form-control" ng-model="$ctrl.newEndUserResponseHeader.header_value" placeholder="New Header Value" required>
            <div class="error-messages" ng-messages="newLineForm.headerValue.$error" role="alert" ng-messages-multiple="false">
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </td>
          <td>
            <select class="form-control" ng-model="$ctrl.newEndUserResponseHeader.operation">
              <option value="add">Add</option>
              <option value="replace">Replace</option>
              <option value="remove">Remove</option>
            </select>
          </td>
          <td>
            <button type="button" class="btn btn-success" ng-disabled="!newLineForm.$valid" ng-click="$ctrl.onAddNew($ctrl.newEndUserResponseHeader)" title="Add New Header">
              <i class="glyphicon glyphicon-plus"></i> Add New</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
