<h3 class="graph-title inline-block">Most Active Attacker IP Addresses</h3>
<label ng-if="!!popoverHelpHTML" uib-popover-html="::popoverHelpHTML" class="text-info graph-help-icon" popover-popup-close-delay="{{::popoverPopupCloseDelay}}"
  popover-append-to-body="true" popover-trigger="mouseenter" popover-hoverable="false" popover-placement="top">
  <i class="fa fa-question-circle" aria-hidden="true"></i>
</label>
<div class="clearfix" style="margin-bottom: 8px;" waf-filter-top-objects ng-disabled="!ngDomain" fl-country="flCountry" ng-filters="filters"
  on-filter="loadDetails()"></div>
<div class="alert alert-info" ng-if="!_loading && !items.length">
  No data to display
</div>
<div class="alert alert-info" ng-if="_loading">
  <i class="glyphicon glyphicon-refresh spin"></i>&nbsp; Loading
</div>
<div class="row margin-top" ng-if="ngDomain && items.length">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>IP Address</th>
          <th style="width: 10%;" class="text-right">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>
            {{item.key}}
            <span class="text-info ip-tooltip-holder">
              <div class="ipinfo" ng-bind-html="getIpToolTip(item)">
              </div>
              <i class="fa fa-question-circle"></i>
            </span>
          </td>
          <td class="text-right">{{item.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
