<div class="modal-header">
  <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body approvers-email">
  <div class="form">
    <p>Please select an email address which should be used to send a domain control verification email.</p>
    <p>The email message will be addressed from GlobalSign CA (our SSL certification authority) and will ask you to confirm that the domain can be added to Rev Software, Inc.’s CloudSSL certificate.</p>
    <p> Please click on the included in the email confirmation link to complete the verification process.</p>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12 approvers-email-list">
          <label class="label-control col-sm-offset-1 col-sm-10" ng-repeat="item in model.approvers ">
            <input type="radio" ng-model="model.verification_email" value="{{item.approver_email}}">&nbsp; {{item.approver_email}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" ng-disabled="!model.verification_email || _loading" ng-click="ok()">Proceed</button>
</div>
