<div class="validation-info-url">
  <p>1. Please the following text in file “gsdv.txt”:</p>
  <pre class="meta-tag"><strong>{{model.data.verification_object}}</strong></pre>
  <p>2. Place the file in directory <em>“/.well-known/pki-validation/”</em> on the website</p>
  <p>3. Select the URL to be used for verification:</p>
  <div class="col-sm-12 form-group">
    <!--Show radio buttons for elements in “verification_names” attribute-->
    <label for="" class="col-sm-12 label-control" ng-repeat="item in model.data.verification_names">
      <input type="radio" ng-model="model.verify.url" value="{{item}}">&nbsp;{{item}}/.well-known/pki-validation/gsdv.txt
    </label>
  </div>
  <br>
  <p>4. Once you are ready with the change please click “Verify Domain Control” button below.</p>
  <p>You can repeat the verification procedure at any time later by using <strong>“Verify Domain Control”</strong> action icon (<i class="glyphicon glyphicon-check"></i>) in the list of managed SSL names.</p>
</div>
