.idea
node_modules
bower_components
test/ui/node_modules
test/ui/results
test/ui/config/local*.js*
.tmp
*sublime*
sftp-config.json
local.js
code/public/
code/dev/config.js
code/dev/css/*
*npm-debug.log


