<div class="row">
  <div class="col-sm-12">
    <h2 class="pull-left page-title">
      Check Integration Domain <strong ng-if="model.domain_name">{{model.domain_name}}</strong>
    </h2>
  </div>
</div>
<div class="row" ng-init="getDomain(params.id)">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left form-inline">
              <div class="form-group">
                <a ui-sref="^" ng-disabled="_loading" class="btn btn-default">
                  <i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Back To List
                </a>
              </div>
              <div class="form-group">
                <button class="btn btn-success" ng-disabled="_loading" ng-click="onClickRefresh()">
                  <i class="glyphicon glyphicon-refresh" ng-class="_loading ? 'spin' : ''"></i>&nbsp; Refresh
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="alert alert-info" ng-if="_loading">
          <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp; Loading...
        </div>
        <domain-check-integration ng-if="!_loading" class="col-sm-12" domain-id="params.id" domain-config="model"></domain-check-integration>
      </div>
    </div>
  </div>
</div>
