<!-- Note that element contain ui-view child page will be added here -->
<script type="text/ng-template" id="confirmModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to delete domain
    <strong>{{model.domain_name}}</strong>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="confirmUpdateModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to update domain configuration
    <strong>{{model.domain_name}}</strong>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="confirmChangeVCLModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Disabling the ImageEngine feature will also automatically disable the Custom VCL Code feature. Do you want to proceed?
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="confirmEnableImageEngineModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    ImageEngine feature should be enabled only for web domains serving image objects. Non-image objects (like HTML pages, JavaScript/CSS
    files, etc) requested from ImageEngine-enabled domain will be rejected with HTTP error code 412 (Precondition Failed).
    Before enabling ImageEngine feature for the domain please make sure that it will be used only to serve image objects
    (PNG/JPG/GIF/WEBP/BMP).
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Continue</button>
  </div>
</script>

<script type="text/ng-template" id="confirmPublishModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to publish domain configuration
    <strong>{{model.domain_name}}</strong>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="confirmModalDeleteCachingRule.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to delete the caching rule<span ng-if="model.url.value"> for URL <strong>"{{model.url.value}}"</strong></span>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<div class="container-fluid" ui-view="page">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pull-left page-title">
        Domains List
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <a ui-sref="{{isReadOnly() ?'.': '.new'}}" class="btn btn-success" ng-class="{'btn-disabled':isReadOnly()}" ng-disabled="_loading || isReadOnly()">
                  <i class="glyphicon glyphicon-plus"></i>&nbsp; Add New Domain
                </a>
              </div>
              <div class="pull-right">
                <form class="form-inline">
                  <div class="form-group">
                    <label for="search">Search:&nbsp;</label>
                    <input type="text" class="form-control" id="search" placeholder="" ng-model="filter.filter" ng-change="checkFilterPage()">&nbsp;&nbsp;
                    <i class="glyphicon glyphicon-remove" ng-show="filter.filter != ''" ng-click="filter.filter = ''"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="alert alert-info" ng-if="records.length == 0 && !_loading">
            Currently you don't have any web domains registered in the system. You can click on "Add New Domain" button above to add
            a domain.
          </div>
          <div class="alert alert-warning" ng-if="records == null && !_loading">
            Failed to retrieve a list of resources - please try again later
          </div>
          <!-- <div class="alert alert-info" ng-if="_loading">
            <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp; Loading...
          </div> -->
          <crud-pagination></crud-pagination>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <a href="" ng-click="order('domain_name')">Name</a>
                    <span class="sortorder" ng-show="filter.predicate === 'domain_name'" ng-class="{reverse: filter.reverse}"></span>
                  </th>
                  <th>
                    <a href="" ng-click="order('cname')">CNAME</a>
                    <span class="sortorder" ng-show="filter.predicate === 'cname'" ng-class="{reverse: filter.reverse}"></span>
                  </th>
                  <th>
                    <a href="" ng-click="order('updated_at')">Last Update</a>
                    <span class="sortorder" ng-show="filter.predicate === 'updated_at'" ng-class="{reverse: filter.reverse}"></span>
                  </th>
                  <th class="thin">Status</th>
                  <th>Actions</th>
                  <th class="account" ng-if="auth.isReseller() ||  auth.isRevadmin()">
                    <a href="" ng-click="order('companyName')">Account</a>
                    <span class="sortorder" ng-show="filter.predicate === 'companyName'" ng-class="{reverse: filter.reverse}"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id="anchor{{::$index}}" ng-click="saveAnchorScrollIndex($index)" ng-repeat="item in filteredRecords | limitTo:filter.limit:filter.skip track by $index">
                  <td>
                    <a ui-sref=".edit({id: item.id})" ng-if="!item.loading" uib-tooltip="Edit Domain">
                    {{item.domain_name}}
                  </a>
                  </td>
                  <td>
                    <button class="btn  btn-xs btn-primary" clipboard text="item.cname" on-copied="copyCallback()" on-error="copyCallback(err)"
                      style="vertical-align: initial;" uib-tooltip="Click to copy the CNAME to the clipboard" tooltip-placement="top"><i class="fa fa-files-o"></i></button>
                    <span title="{{item.cname}}"> {{item.cname}} </span></td>
                  <td>{{ getRelativeDate(item.updated_at) }}</td>
                  <td>
                    <div domain-staging-status ng-id="item.id"></div>
                  </td>
                  <td class="actions">
                    <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>
                    <a ui-sref=".edit({id: item.id})" ng-if="!item.loading" uib-tooltip="Edit Domain">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a ui-sref=".edit({id: item.id,isAdvanced:true})" ng-if="!item.loading" uib-tooltip="Advanced Edit Domain">
                      <i class="glyphicon glyphicon-cog"></i>
                    </a>
                    <a href="" ng-if="!item.loading" ng-class="{'disabled': isReadOnly() }" ng-click="deleteDomain(item)" uib-tooltip="Delete Domain">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href="#/reports/proxy" ng-if="!item.loading" ng-click="storeToStorage(item)" uib-tooltip="Stats">
                      <i class="glyphicon glyphicon-stats"></i>
                    </a>
                    <a ui-sref=".versions({id: item.id})" ng-if="!item.loading" uib-tooltip="Previous Versions">
                      <i class="glyphicon glyphicon-book"></i>
                    </a>
                    <a ui-sref=".checkintegration({id: item.id})" ng-if="!item.loading" uib-tooltip="Check Domain Integration Configuration">
                      <i class="glyphicon glyphicon-check"></i>
                    </a>
                  </td>
                  <td ng-if="auth.isReseller() ||  auth.isRevadmin()">
                    <div>{{item.companyName}}</div>
                  </td>
                </tr>
                <!--<tr class="disabled loading">-->
                <!--<td>John</td>-->
                <!--<td>Doe</td>-->
                <!--<td>Monday, Aug 10, 2015, 8:31 PM</td>-->
                <!--<td class="actions">-->
                <!--<i class="glyphicon glyphicon-refresh spin"></i>-->
                <!--</td>-->
                <!--</tr>-->
              </tbody>
            </table>
          </div>
          <hr>
          <crud-pagination></crud-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
