<div role="form" class="edit-web-analytics-config">
  <div class="form-group">
    <label for="domain">DNS Zone</label>
    <div dns-zone-select id="zone-select" ng-model="zone" on-select="onDNSZoneSelected()" select-one="true"></div>
  </div>
  <div class="form-group">
    <label for="domain">Filters</label>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <select class="form-control fixed" ng-model="config.filters.period" ng-disabled="!zone">
          <option value="1h">Last 1 Hour</option>
          <option value="24h">Last 24 Hours</option>
          <option value="30d">Last 30 Days</option>
      </select>
    </div>
  </div>
</div>
