<div class="row">
  <div class="col-sm-12">
    <h2 class="pull-left page-title">
      Edit Record   <span>{{ model.domain }}
          <span class="badge">{{ model.type }}</span>
          <span ng-show="record.tier == 1" class="badge badge-1">STATIC</span>
          <span ng-show="record.tier == 2" class="badge badge-2">DYNAMIC</span>
          <span ng-show="record.tier == 3" class="badge badge-3">INTELLIGENT</span>
          <span ng-show="record.link != null" class="badge badge-L">LINK</span>
        </span>
    </h2>
  </div>
</div>
<div class="row" ng-init="getDNSZoneRecord(params.id)">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <a ui-sref="^" class="btn btn-info">
                <i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Back To List
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" name="editForm">


          <div class="form-horizontal">
          <div class="form-group" ng-show="record.link==null">
              <label class="control-label col-sm-2" title="Optional; if not set, the default TTL for the {{zone}} zone will be used.">
                TTL (seconds)</label>
              <div class="col-sm-10">
                <input type="number" min="0" max="2147483647" class="form-control" placeholder="20" ng-model="record.ttl">
              </div>
            </div>
          <div class="form-group">
              <label class="control-label col-sm-2">Use Client Subnet
          <span class="infosign">
                  <a data-toggle="tooltip" title="If enabled, edns-client-subnet data will be used with compatible filters. edns-client-subnet results in more accurate routing, but increased query counts, so disabling this option will reduce queries at the cost of accuracy">
          <i class="icon-info-sign"></i>
            </a>
          </span>
              </label>
              <div class="col-sm-10">
                <input type="checkbox" ng-model="record.use_client_subnet">
              </div>
            </div>
          <div class="form-group" ng-show="record.link!=null">
              <label class="control-label col-sm-2">Link Target
            <span class="infosign">
                  <a data-toggle="tooltip" title="The FQDN of the record (in NS1 platform) holding the configuration this link should use.">
            <i class="icon-info-sign"></i>
              </a>
            </span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="input-xlarge" placeholder="target.example.com" ng-model="record.link">
              </div>
            </div>
          </div>
          <!-- Answers -->
          <div class="panel panel-default" id="answers"  ng-show="record&&record.link==null">
            <div class="panel-heading">
              <!-- <span class="pull-left panel-buttons-left">
                <a class="btn btn-default btn-md " ng-click="onCollapsAllCachingRule()" title="Collapse All Rules" ng-show="!isCollapsedAll">
                  <i class="glyphicon glyphicon-chevron-up "></i>
                </a>
                <a class="btn btn-default btn-md " ng-click="onExpandAllCachingRule()" title="Expand All Rules">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
              </span> -->
              <span ng-click="onAddNewAnswer()"  _ngclick="show_addanswer()"  class="btn btn-primary btn-sm pull-right" title="Add New Answer"><i class="glyphicon glyphicon-plus"></i></span>
              <h4><b>Answers</b></h4>
            </div>
            <div class="panel-body">
              <div ng-repeat="answer in record.answers">
                <div class="answer">
                  <div class="pull-right pcontrols clickable-nohover">
                    <a ng-click="confirm_delanswer($index)">
                      <i class="icon-remove-sign"></i>
                    </a>
                  </div>
                  <!-- <h3>{{answer.answer}}</h3> -->
                  <h3>{{answer.answer | mergearray}}</h3>
                  <div class="container-fluid">
                    <div class="form" ng-class="{ 'span6' : feed_ptrs_enabled }">
                      <div class="form-group">
                        <label class="control-label col-sm-2" title="Specify answer fields depending on the record type">
                          <h4 style="color: #777; display: inline-block;">Answer *</h4>

                        </label>
                        <!-- TODO: Fix work-->
                        <ng:include src="'parts/dns_zone_records/answercontrols.html'" onload="newanswer=answer.longanswer;origanswer=answer;"></ng:include>
                      </div>
                    </div>


                  </div>
                </div>
                <hr>
              </div>

            </div>
          </div>


          <!-- ANSWERS-->


          <!-- <div class="module" id="answers" ng-show="record&&record.link==null">
            <div class="module-header">
              <h3 style="display: inline-block;">Answers&nbsp;</h3>
            	<span class="h3" tooltipper ng-show="recwarning()" data-toggle="tooltip" title="Please note: According to RFC, a CNAME record should not return multiple answers. Doing so may cause problems during resolution. If you want to use multiple answers, you should ensure you have the correct filters in place (such as SELECT_FIRST_N 1) to limit them to a single answer at resolution time.">
        				<i class="icon-exclamation-sign icon-2x text-warning"></i>
        			</span>
            </div>
          </div> -->

   <hr>
          <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
              <a ui-sref="^" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
              </a>
              <button class="btn btn-success" ng-disabled="editForm.$invalid" ng-click="updateDNSZoneRecord(model)" uib-tooltip="{{dnsZone_update_help_info}}">
                <i class="glyphicon" ng-class="_loading ? 'glyphicon-refresh spin':'glyphicon-file'"></i>&nbsp; Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
