<div id="domainWAFLocationsBlock" class="panel panel-default domain-waf-locations">
  <div class="panel-heading">
    <div class="pull-left panel-buttons-left block-inline">
      <a class="btn btn-default btn-md " ng-click="$ctrl.onCollapsAllWAFLocations()" title="Collapse All Locations" ng-show="!isCollapsedAll">
        <i class="glyphicon glyphicon-chevron-up "></i>
      </a>
      <a class="btn btn-default btn-md " ng-click="$ctrl.onExpandAllWAFLocations()" title="Expand All Locations">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
    </div>
    <div class="form-group pull-right">
      <div class="col-sm-12">
        <a id="addNewWAFLocationBtn" ng-click="$ctrl.onAddNewWAFLocation(true)" class="btn btn-primary btn-sm " title="Add New WAF Location"
          opover-append-to-body="{{true}}" popover-trigger="mouseenter" popover-placement=" left" uib-popover="Add New WAF Location"><i class="glyphicon glyphicon-plus"></i></a>
      </div>
    </div>
    <div class="h4 panel-title"><b class="h4  inline-block"> Locations </b>
      <label class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="It is possible to configuration different WAF settings for different parts (locations) of the website. The default root location (/) covers the whole website. You can configure separate locations like /images/, /admin/, etc.">
                <i class="fa fa-question-circle"></i>
              </label>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="form-group" ng-form="locationEditForm">
      <div class="panel panel-default" ng-repeat="item in $ctrl.waf">
        <div class="panel-heading">
          <div class="domain-waf-location__info">
            <div class="pull-left panel-buttons-left">
              <!-- collapse -->
              <a class="btn btn-default btn-xs" href="" title="Collapse WAF Location" ng-show="!item.$$wafLocationBlockState.isCollapsed"
                ng-click="item.$$wafLocationBlockState.isCollapsed = !item.$$wafLocationBlockState.isCollapsed">
                <i class="glyphicon glyphicon-chevron-up"></i>
              </a>
              <!-- expend -->
              <a class="btn btn-default btn-xs" href="" title="Expand WAF Location" ng-show="item.$$wafLocationBlockState.isCollapsed"
                ng-click="item.$$wafLocationBlockState.isCollapsed = !item.$$wafLocationBlockState.isCollapsed">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </a>
              <!-- WAF Location Up  -->
              <a class="btn btn-default btn-xs" href="" ng-click="$ctrl.onUpWAFLocation($event,item)"><i class="glyphicon glyphicon-arrow-up " title="Move One Position Up"></i></a>
              <!--  WAF Location Down  -->
              <a class="btn btn-default btn-xs" href="" ng-click="$ctrl.onDownWAFLocation($event,item)"><i class="glyphicon glyphicon-arrow-down" title="Move One Position Down"></i></a>
              <!-- // -->
            </div>
            <div class="pull-right panel-button-right">
              <div class="location-panel-into--totals inline-block">Rules:<strong> {{item.waf_rules.length}}</strong>, Actions: <strong>{{item.waf_actions.length}}</strong> </div>
              <!-- Actions -->
              <a ng-click="$ctrl.onDuplicateWAFLocation($event,item)" class="btn btn-primary btn-xs duplicateWAFLocationBtn" opover-append-to-body="{{true}}"
                popover-trigger="mouseenter" uib-popover="Duplicate WAF Location" ng-class="{'disabled':_isEditLocked}"><i class="fa fa-clone"></i> Duplicate Location</a>
              <a href title="Delete Location" ng-click="$ctrl.onDeleteWAFLocation($event,$index)" ng-class="{'disabled':_isEditLocked}">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>
            <div class="panel-title">
              <b>Location</b>: {{item.location}}</div>
          </div>
        </div>

        <div class="panel-body" ng-show="!item.$$wafLocationBlockState.isCollapsed">

          <div class="form-group" ng-class="{'has-error': locationEditForm.wafLocation.$invalid && locationEditForm.wafLocation.$dirty}">
            <label for="wafLocation" class="col-sm-3 control-label">Location *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control inline-block elemLastFirstMile" ng-disabled="_loading || _isEditLocked" ng-model="item.location" name="wafLocation"
                placeholder="like '/my_url/'" ng-maxlength="150" validate-waf-location-name required>
              <label for="wafLocation" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Specify here a website path (like “/my_url/”) the WAF configuration should be applied to">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.wafLocation.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!--WAF Status waf.enable_waf-->
          <div class="form-group form-inline">
            <label for="enableWafStatus" class="col-sm-3 control-label">WAF Protection For This Location</label>
            <div class="col-md-9">
              <toggle-switch name="enableWafStatus" is-disabled="_loading || _isEditLocked" ng-model="item.enable_waf" on-label="On" off-label="Off">
              </toggle-switch>
              <label for="enableWafStatus" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="The switch controls WAF protection status for this specific location">
                    <i class="fa fa-question-circle"></i>
                  </label>
            </div>
          </div>
          <!-- Learning Mode -->
          <div class="form-group form-inline">
            <label for="enableWafLearnMode" class="col-sm-3 control-label">Learning Mode</label>
            <div class="col-md-9">
              <toggle-switch name="enableWafLearnMode" is-disabled="_loading || _isEditLocked" ng-model="item.enable_learning_mode" on-label="On" off-label="Off">
              </toggle-switch>
              <label for="enableWafLearnMode" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="The Learning Mode allows to collect security exceptions on real customer traffic without actually blocking flagged requests. Later the collected infomation can be used to automatically generate white-listing WAF rules for this specific web application.">
                    <i class="fa fa-question-circle"></i>
                  </label>
            </div>
          </div>
          <!-- Enable Analysis for SQL Injection -->
          <div class="form-group form-inline">
            <label for="enableSQLInjectionLib" class="col-sm-3 control-label">Enable Analysis for SQL Injection</label>
            <div class="col-md-9">
              <toggle-switch name="enableSQLInjectionLib" is-disabled="_loading || _isEditLocked" ng-model="item.enable_sql_injection_lib" on-label="On"
                off-label="Off">
              </toggle-switch>
              <label for="enableSQLInjectionLib" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="This switch enables automatic detection of possible SQL Injection attacks">
                    <i class="fa fa-question-circle"></i>
                  </label>
            </div>
          </div>
          <!-- Enable Analysis for XSS Injection -->
          <div class="form-group form-inline">
            <label for="enableXSSInjectionLib" class="col-sm-3 control-label">Enable Analysis for XSS Injection</label>
            <div class="col-md-9">
              <toggle-switch name="enableXSSInjectionLib" is-disabled="_loading || _isEditLocked" ng-model="item.enable_xss_injection_lib" on-label="On"
                off-label="Off">
              </toggle-switch>
              <label for="enableXSSInjectionLib" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="This switch enables automatic detection of XSS Injection attacks">
                    <i class="fa fa-question-circle"></i>
                  </label>
            </div>
          </div>
          <hr>
          <domain-waf-rules ng-model="item.waf_rules" waf-rules-list="$ctrl.wafRulesList" is-edit-locked="_isEditLocked"></domain-waf-rules>
          <hr>
          <domain-waf-actions-list ng-model="item.waf_actions" is-edit-locked="_isEditLocked"></domain-waf-actions-list>
        </div>
      </div>
    </div>
  </div>
</div>
