<div class="panel panel-default" ng-if="model.rule_type" ng-form="formEditRuleType">
  <div class="panel-heading">
    <label>Rule-Specific Configurations</label>
  </div>
  <div id="rule_spike" ng-if="model.rule_type === 'Spike'">
    <div class="panel-body">
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.spikeDirection.$invalid && formEditRuleType.spikeDirection.$dirty }">
        <label for="spikeDirection" class="col-sm-2 control-label">Spike Direction *</label>
        <div class="col-sm-10">
          <select class="form-control inline-block" id="spikeDirection" name="spikeDirection" ng-model="model.rule_config.spike_direction"
            ng-disabled="_loading" ng-options="name as key for (name,key) in spikeDirections" required>
            <option disabled value="">--- Select Spike Direction ---</option>
          </select>
          <label for="spikeDirection" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" 
            uib-popover="The field defines the direction of monitored traffic spike. If set to 'Up' the system will alert on traffic level increase, if set to 'Down' - on traffic decrease, and if set to 'Both' the system will monitor traffic level changes in both directions.">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.spikeDirection.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.spikeAmount.$invalid && formEditRuleType.spikeAmount.$dirty }">
        <label for="spikeAmount" class="col-sm-2 control-label">Spike Amount *</label>
        <div class="col-sm-10">
          <input type="number" class="form-control inline-block" id="spikeAmount" name="spikeAmount" placeholder="Spike Height" ng-model="model.rule_config.spike_amount"
            ng-max="150" ng-min="1" max="150" min="1" ng-disabled="_loading" required>
          <label for="spikeAmount" class="text text-info inline-block" popover-append-to-body="{{true}}" popover-trigger="mouseenter"
            uib-popover="The field defines the ratio of requests handled in the current period of time (defined in 'Timeframe' field below) to the previous period of time. If the ratio is above the defined amount an alert will be triggered. For example, if the defined ratio is 5 and the time period is set to 10 minutes, an alert will be triggered if the current level of traffic (as monitored and averaged for 10 minutes) exceeds the level for the previous 10 minutes for more than 5 times.">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.spikeAmount.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': formEditRuleType.timeframe.$invalid && formEditRuleType.timeframe.$dirty }">
        <label for="timeframe" class="col-sm-2 control-label">Timeframe *</label>
        <div class="col-sm-6">
          <div class="col-sm-4 no-padding" style="padding-right: 15px;">
            <input type="text" class="form-control" id="destination_port" name="timeframe" placeholder="Timeframe" ng-model="model.rule_config.timeframe"
              ng-disabled="_loading">
          </div>
          &nbsp;
          <div class="col-sm-4" style="padding-right: 5px; margin-right: 0;">
            <select class="form-control" ng-init="model.rule_config.timeframe_type = model.rule_config.timeframe_type || 'minutes'" id="timeframe_type"
              name="timeframe_type" ng-model="model.rule_config.timeframe_type" ng-disabled="_loading" required>
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
            </select>
          </div>

          <div class="col-sm-2 no-padding">
            <label for="timeframe" class="text text-info" popover-trigger="mouseenter" 
              uib-popover="Use the field to define the time period to be used to average the number of handled request">
              <i class="fa fa-question-circle"></i>
            </label>
            <div class="error-messages" ng-messages="formEditRuleType.timeframe.$error" role="alert" ng-messages-multiple>
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rule_statusCode_frequency" ng-if="model.rule_type === 'statusCode_frequency'">
    <div class="panel-body">
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.ruleConfigStatusCode.$invalid && formEditRuleType.ruleConfigStatusCode.$dirty }">
        <label for="ruleConfigStatusCode" class="col-sm-2 control-label">Status Code *</label>
        <div class="col-sm-4">
          <input type="number" class="form-control half-width inline-block" id="statusCode" placeholder="500" name="ruleConfigStatusCode"
            ng-model="model.rule_config.status_code" ng-maxlength="3" ng-minlength="1" ng-disabled="_loading" required>
          <label for="ruleConfigStatusCode" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" 
            uib-popover="The HTTP status code to monitor. For example, use 404 to monitor 'Page Not Found' responses.">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.ruleConfigStatusCode.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.ruleConfigResponses.$invalid && formEditRuleType.ruleConfigResponses.$dirty }">
        <label for="ruleConfigResponses" class="col-sm-2 control-label">Number Of Responses*</label>
        <div class="col-sm-4">
          <input type="number" class="form-control inline-block half-width" id="ruleConfigResponses" placeholder="1" name="ruleConfigResponses"
            ng-model="model.rule_config.responses" ng-max="10000000" ng-min="1" min="1" max="10000000" ng-disabled="_loading" required>
          <label for="ruleConfigResponses" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" 
            uib-popover="Use the field to define the maximum number of requests allowed with the defined timeframe for the defined HTTP response code. For example, if the field is set to 20, the 'Status Code' field above is set to 404 and Timeframe field below is set to 10 minutes, the system will generate an alert if amount of 404 responses exceeds 20 within 10 minutes.">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.ruleConfigResponses.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': formEditRuleType.timeframe.$invalid && formEditRuleType.timeframe.$dirty }">
        <label for="timeframe" class="col-sm-2 control-label">Timeframe *</label>
        <div class="col-sm-6">
          <div class="col-sm-4 no-padding" style="padding-right: 15px;">
            <input type="text" class="form-control" id="destination_port" name="timeframe" placeholder="Timeframe" ng-model="model.rule_config.timeframe"
              ng-disabled="_loading">
          </div>
          &nbsp;
          <div class="col-sm-4" style="padding-right: 5px; margin-right: 0;">
            <select class="form-control" ng-init="model.rule_config.timeframe_type = model.rule_config.timeframe_type || 'minutes'" id="timeframe_type"
              name="timeframe_type" ng-model="model.rule_config.timeframe_type" ng-disabled="_loading" required>
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
            </select>
          </div>

          <div class="col-sm-2 no-padding">
            <label for="timeframe" class="text text-info" popover-trigger="mouseenter" 
              uib-popover="Defines the period of time which will be used to watch for specified number of responses with defined HTTP status code">
              <i class="fa fa-question-circle"></i>
            </label>
            <div class="error-messages" ng-messages="formEditRuleType.timeframe.$error" role="alert" ng-messages-multiple>
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
