<div class="panel panel-default" ng-if="model.rule_type" ng-form="formEditRuleType">
  <div class="panel-heading">
    <label>Rule-Specific Configurations</label>
  </div>
  <div id="rule_spike" ng-if="model.rule_type === 'Spike'">
    <div class="panel-body">
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.spikeDirection.$invalid && formEditRuleType.spikeDirection.$dirty }">
        <label for="spikeDirection" class="col-sm-2 control-label">Spike Direction *</label>
        <div class="col-sm-4">
          <select class="form-control inline-block half-width" id="destination_type" name="spikeDirection" ng-model="model.rule_config.spike_direction"
            ng-disabled="_loading" ng-options="item.key for item in spikeDirections track by item.value" required>
            <option disabled value="">--- Select Spike Direction ---</option>
          </select>
          <label for="spikeDirection" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Select the direction of the spike event, if set to 'up', when requests spike up, the alert will be triggred.">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.spikeDirection.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.spikeAmount.$invalid && formEditRuleType.spikeAmount.$dirty }">
        <label for="spikeAmount" class="col-sm-2 control-label">Spike Amount *</label>
        <div class="col-sm-4">
          <input type="number" class="form-control inline-block half-width" id="Host" name="spikeAmount" placeholder="Spike Amount"
            ng-model="model.rule_config.spike_amount" ng-max="150" ng-min="1" max="150" min="1" ng-disabled="_loading" required>
          <label for="spikeAmount" class="text text-info inline-block" popover-append-to-body="{{true}}" popover-trigger="mouseenter"
            uib-popover="Host name for FTP, SFTP and ElasticSearch destinations, S3 bucket name for S3 destination">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.spikeAmount.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': formEditRuleType.timeframe.$invalid && formEditRuleType.timeframe.$dirty }">
        <label for="timeframe" class="col-sm-2 control-label">Timeframe *</label>
        <div class="col-sm-6">
          <div class="col-sm-4 no-padding" style="padding-right: 15px;">
            <input type="text" class="form-control" id="destination_port" name="timeframe" placeholder="Timeframe" ng-model="model.rule_config.timeframe"
              ng-disabled="_loading">
          </div>
          &nbsp;
          <div class="col-sm-4" style="padding-right: 5px; margin-right: 0;">
            <select class="form-control" ng-init="model.rule_config.timeframe_type = model.rule_config.timeframe_type || 'minutes'" id="timeframe_type"
              name="timeframe_type" ng-model="model.rule_config.timeframe_type" ng-disabled="_loading" required>
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
            </select>
          </div>

          <div class="col-sm-2 no-padding">
            <label for="timeframe" class="text text-info" popover-trigger="mouseenter" uib-popover="Set the timeframe for the rule to check traffic spikes.">
              <i class="fa fa-question-circle"></i>
            </label>
            <div class="error-messages" ng-messages="formEditRuleType.timeframe.$error" role="alert" ng-messages-multiple>
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rule_statusCode_frequency" ng-if="model.rule_type === 'statusCode_frequency'">
    <div class="panel-body">
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.ruleConfigStatusCode.$invalid && formEditRuleType.ruleConfigStatusCode.$dirty }">
        <label for="ruleConfigStatusCode" class="col-sm-2 control-label">Status Code *</label>
        <div class="col-sm-4">
          <input type="number" class="form-control half-width inline-block" id="Host" placeholder="500" name="ruleConfigStatusCode"
            ng-model="model.rule_config.status_code" ng-maxlength="3" ng-minlength="1" ng-disabled="_loading" required>
          <label for="ruleConfigStatusCode" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="The status code that will trigger the alert">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.ruleConfigStatusCode.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': formEditRuleType.ruleConfigResponses.$invalid && formEditRuleType.ruleConfigResponses.$dirty }">
        <label for="ruleConfigResponses" class="col-sm-2 control-label">Number Of Responses*</label>
        <div class="col-sm-4">
          <input type="number" class="form-control inline-block half-width" id="ruleConfigResponses" placeholder="1" name="ruleConfigResponses"
            ng-model="model.rule_config.responses" ng-max="150" ng-min="1" min="1" max="150" ng-disabled="_loading" required>
          <label for="ruleConfigResponses" class="text text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="The amount of responses with the configured status code that will trigger the alert">
            <i class="fa fa-question-circle"></i>
          </label>
          <div class="error-messages" ng-messages="formEditRuleType.ruleConfigResponses.$error" role="alert" ng-messages-multiple>
            <div ng-messages-include="parts/shared/error-messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': formEditRuleType.timeframe.$invalid && formEditRuleType.timeframe.$dirty }">
        <label for="timeframe" class="col-sm-2 control-label">Timeframe *</label>
        <div class="col-sm-6">
          <div class="col-sm-4 no-padding" style="padding-right: 15px;">
            <input type="text" class="form-control" id="destination_port" name="timeframe" placeholder="Timeframe" ng-model="model.rule_config.timeframe"
              ng-disabled="_loading">
          </div>
          &nbsp;
          <div class="col-sm-4" style="padding-right: 5px; margin-right: 0;">
            <select class="form-control" ng-init="model.rule_config.timeframe_type = model.rule_config.timeframe_type || 'minutes'" id="timeframe_type"
              name="timeframe_type" ng-model="model.rule_config.timeframe_type" ng-disabled="_loading" required>
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
            </select>
          </div>

          <div class="col-sm-2 no-padding">
            <label for="timeframe" class="text text-info" popover-trigger="mouseenter" uib-popover="Set the timeframe for the rule to check traffic spikes.">
              <i class="fa fa-question-circle"></i>
            </label>
            <div class="error-messages" ng-messages="formEditRuleType.timeframe.$error" role="alert" ng-messages-multiple>
              <div ng-messages-include="parts/shared/error-messages.html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
