<form role="form">
  <div class="form-group">
    <label for="domain">Application</label>
    <div app-select ng-model="application" on-select="onApplicationSelected()"></div>
  </div>
  <div class="form-group">
    <label for="domain">Filters</label>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <select class="form-control fixed" ng-model="config.filters.delay" ng-disabled="!application">
        <option value="1">Last 1 Hour</option>
        <option value="6">Last 6 Hours</option>
        <option value="12">Last 12 Hours</option>
        <option value="24">Last 24 Hours</option>
      </select>
    </div>
  </div>
</form>
