<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">WAF Events</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <form class="form-inline">
                  <div class="form-group">
                    <div domain-select id="domain" ng-model="vm.domain" on-select="vm.onDomainSelect()" select-one="true"></div>
                  </div>
                  <div class="form-group">
                    <time-note-display></time-note-display>
                  </div>
                </form>
              </div>
              <div waf-filter-security-events ng-filters="vm.filters" fl-country="vm.countries" on-filter="vm.onDomainSelect()" fl-zones="vm.zonesList"
                is-show-count="true" class="waf-events-filters" is-loading="vm._loading"></div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="alert alert-info" ng-if="vm._loading && vm.totalItems==0">
            <i class="glyphicon glyphicon-refresh spin"></i>&nbsp; Loading...
          </div>
          <div class="alert alert-info" ng-if="!vm._loading && !records.length">
            No data to display
          </div>
          <div ng-if="vm.totalItems>0" ng-disabled="vm._loading" uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage"
            boundary-link-numbers="true" force-ellipses="true" rotate="false" ng-change="vm.pageChanged()" max-size="10" items-per-page="vm.filters.count"></div>
          <div class="table-responsive">
            <table class="table ">
              <thead>
                <tr>
                  <th></th>
                  <th><a href="" ng-click="vm.order('date')">Date/time</a>
                    <span class="sortorder" ng-show="filter.predicate === 'date'" ng-class="{reverse: filter.reverse}"></span>
                  </th>
                  <th><a href="" ng-click="vm.order('uri')">URL</a>
                    <span class="sortorder" ng-show="filter.predicate === 'uri'" ng-class="{reverse: filter.reverse}"></span></th>
                  <th><a href="" ng-click="vm.order('ip')">IP address</a>
                    <span class="sortorder" ng-show="filter.predicate === 'ip'" ng-class="{reverse: filter.reverse}"></span></th>
                  <th><a href="" ng-click="vm.order('zone')">Request Zone</a>
                    <span class="sortorder" ng-show="filter.predicate === 'zone'" ng-class="{reverse: filter.reverse}"></span></th>
                  <th><a href="" ng-click="vm.order('id')">Triggered Rule Id</a>
                    <span class="sortorder" ng-show="filter.predicate === 'id'" ng-class="{reverse: filter.reverse}"></span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="item in records">
                  <td>
                    <a ng-if="vm.user.isRevadmin()" role="button" data-toggle="collapse" data-target="#events-{{$index}}">
                      <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                    <a ng-if="!vm.user.isRevadmin()">
                      <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                  </td>
                  <td>{{ vm.getRelativeDate(item.date) }}</td>
                  <td>{{ item.uri }}</td>
                  <td>{{ item.ip }}</td>
                  <td>{{ item.zone }}</td>
                  <td>{{ item.id }} ({{ getRuleDescription(item.id) }})</td>
                </tr>
                <tr ng-repeat-end id="events-{{$index}}" class="panel-collapse collapse" role="tabpanel">
                  <td colspan="6" style="background-color: #d0d0e0; padding-left: 25px;">
                    <div class="panel-body" style="padding: 10px;">
                      <!-- TODO: add details info-->
                      <div>Event Date/Time: {{ item.date }}</div>
                      <div>URL: {{ item.uri }}</div>
                      <div>End User IP: {{ item.ip }}</div>
                      <div>End User Country: {{ item.country }}</div>
                      <div>End User ISP/Organization: </div>
                      <!-- TODO: Pull data from maxmind -->
                      <div>Triggered Rule: {{ item.id }} ({{ getRuleDescription(item.id) }})</div>                      
                      <div>Triggered Zone: {{ item.zone }}</div>
                      <div>Variable Name: {{ item.var_name }}</div>
                      <div>Blocked: {{ item.block === '1' ? 'Yes' : 'No'}}</div>
                      <div>Learning Mode Enabled: {{ item.learning === '1' ? 'Yes' : 'No' }}</div>

                      <!--<div> {{item.uri}} </div>
                      <div> {{item.coords[0]}}:{{item.coords[1]}}</div>-->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="vm.totalItems>10" ng-disabled="vm._loading" uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage"
            boundary-link-numbers="true" rotate="false" force-ellipses="true" ng-change="vm.pageChanged()" max-size="10" items-per-page="vm.filters.count">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>