<div id="domainWallarmWAFBlock" class="panel panel-default domain-wallarm-locations">
  <div class="panel-heading">
    <div class="pull-left panel-buttons-left block-inline">
      <a class="btn btn-default btn-md " ng-click="$ctrl.onCollapsAllWallarmLocations()" title="Collapse All Locations" ng-show="!isCollapsedAll">
        <i class="glyphicon glyphicon-chevron-up "></i>
      </a>
      <a class="btn btn-default btn-md " ng-click="$ctrl.onExpandAllWallarmLocations()" title="Expand All Locations">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
    </div>
    <div class="form-group pull-right">
      <div class="col-sm-12">
        <a id="addNewWallarmLocationBtn" ng-click="$ctrl.onAddNewWallarmLocation(true)" ng-class="{'disabled':_isEditLocked}" class="btn btn-primary btn-sm "
          title="Add New Wallarm Location" opover-append-to-body="{{true}}" popover-trigger="mouseenter" popover-placement="left"
          uib-popover="Add New Wallarm Location">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="h4 panel-title">
      <b class="h4  inline-block"> Locations</b>
      <label class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
        <i class="fa fa-question-circle"></i>
      </label>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="form-group" ng-form="locationEditForm">
      <div class="panel panel-default" ng-repeat="item in $ctrl.wallarmConfig">
        <div class="panel-heading">
          <div class="domain-wallarm-location__info">
            <div class="pull-left panel-buttons-left">
              <!-- collapse -->
              <a class="btn btn-default btn-xs" href="" title="Collapse Wallarm Location" ng-show="!item.$$wallarmLocationBlockState.isCollapsed"
                ng-click="item.$$wallarmLocationBlockState.isCollapsed = !item.$$wallarmLocationBlockState.isCollapsed">
                <i class="glyphicon glyphicon-chevron-up"></i>
              </a>
              <!-- expend -->
              <a class="btn btn-default btn-xs" href="" title="Expand Wallarm Location" ng-show="item.$$wallarmLocationBlockState.isCollapsed"
                ng-click="item.$$wallarmLocationBlockState.isCollapsed = !item.$$wallarmLocationBlockState.isCollapsed">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </a>
              <!-- Wallarm Location Up  -->
              <a ng-class="{'disabled':_isEditLocked}" class="btn btn-default btn-xs" href="" ng-click="$ctrl.onUpWallarmLocation($event,item)">
                <i class="glyphicon glyphicon-arrow-up " title="Move One Position Up"></i>
              </a>
              <!--  Wallarm Location Down  -->
              <a ng-class="{'disabled':_isEditLocked}" class="btn btn-default btn-xs" href="" ng-click="$ctrl.onDownWallarmLocation($event,item)">
                <i class="glyphicon glyphicon-arrow-down" title="Move One Position Down"></i>
              </a>
              <!-- // -->
            </div>
            <div class="pull-right panel-button-right">
              <!-- Actions -->
              <a ng-click="$ctrl.onDuplicateWallarmLocation($event,item)" ng-class="{'disabled':_isEditLocked}" class="btn btn-primary btn-xs duplicateWallarmLocationBtn"
                opover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Duplicate Wallarm Location">
                <i class="fa fa-clone"></i> Duplicate Location</a>
              <a href title="Delete Location" ng-click="$ctrl.onDeleteWallarmLocation($event,$index)" ng-class="{'disabled':_isEditLocked}">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>
            <div class="panel-title">
              <b>Location</b>: {{item.location}}</div>
          </div>
        </div>

        <div class="panel-body" ng-show="!item.$$wallarmLocationBlockState.isCollapsed">

          <div class="form-group" ng-class="{'has-error': locationEditForm.wallarmLocation.$invalid && locationEditForm.wallarmLocation.$dirty}">
            <label for="wallarmLocation" class="col-sm-3 control-label">Location *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control inline-block elemLastFirstMile" ng-disabled="_loading || _isEditLocked" ng-model="item.location"
                name="wallarmLocation" placeholder="like '/my_url/'" ng-maxlength="150" validate-waf-location-name required>
              <label for="wallarmLocation" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text ">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.wallarmLocation.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!--Wallarm enable-->
          <div class="form-group form-inline" ng-class="{'has-error': locationEditForm.operationMode.$invalid && locationEditForm.operationMode.$dirty}">
            <label for="operationMode" class="col-sm-3 control-label">Operation Mode</label>
            <div class="col-md-9">
              <select name="operationMode" id="operationMode" class="form-control" ng-disabled="_loading" ng-model="item.wallarm_mode"
                ng-options="mode as key for (mode,key) in $ctrl.wallarmOperationModeSelectList" required>
                <option value="''">Please Select Operation Mode</option>
              </select>
              <label for="operationMode" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO  text">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.operationMode.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!-- Instance Number -->
          <div class="form-group form-inline" ng-class="{'has-error': locationEditForm.enableWafLearnMode.$invalid && locationEditForm.enableWafLearnMode.$dirty}">
            <label for="enableWafLearnMode" class="col-sm-3 control-label">Instance Number</label>
            <div class="col-md-9">
              <input type="number" name="enableWafLearnMode" class="form-control inline-block" ng-disabled="_loading || _isEditLocked"
                ng-model="item.wallarm_instance" ng-min="1" ng-max="3600">
              <label for="enableWafLearnMode" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.enableWafLearnMode.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!-- Allow Mode Override -->
          <div class="form-group form-inline" ng-class="{'has-error': locationEditForm.wallarmModeAllowOverride.$invalid && locationEditForm.wallarmModeAllowOverride.$dirty}">
            <label for="wallarmModeAllowOverride" class="col-sm-3 control-label">Allow Mode Override</label>
            <div class="col-md-9">
              <select name="wallarmModeAllowOverride" id="wallarmModeAllowOverride" class="form-control" ng-disabled="_loading" ng-model="item.wallarm_mode_allow_override"
                ng-options="mode as key for (mode,key) in $ctrl.wallarmModeAllowOverriderOperationModeList">
                <option value="''">Not Selected Mode Override</option>
              </select>
              <label for="wallarmModeAllowOverride" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.wallarmModeAllowOverride.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!-- Parse Response -->
          <div class="form-group form-inline">
            <label for="parseResponse" class="col-sm-3 control-label">Parse Response</label>
            <div class="col-md-9">
              <toggle-switch name="parseResponse" is-disabled="_loading || _isEditLocked" ng-model="item.wallarm_parse_response" on-label="On"
                off-label="Off">
              </toggle-switch>
              <label for="parseResponse" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
            </div>
          </div>
          <!-- Unpack Response -->
          <div class="form-group form-inline">
            <label for="unpackResponse" class="col-sm-3 control-label">Unpack Response</label>
            <div class="col-md-9">
              <toggle-switch name="unpackResponse" is-disabled="_loading || _isEditLocked" ng-model="item.wallarm_unpack_response" on-label="On"
                off-label="Off">
              </toggle-switch>
              <label for="unpackResponse" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
            </div>
          </div>
          <!-- Request Processing Time Limit, ms -->
          <div class="form-group form-inline" ng-class="{'has-error': locationEditForm.unpackResponse.$invalid && locationEditForm.unpackResponse.$dirty}">
            <label for="unpackResponse" class="col-sm-3 control-label">Unpack Response</label>
            <div class="col-md-9">
              <input type="number" id="unpack_response" name="unpackResponse" class="form-control inline-block" ng-disabled="_loading || _isEditLocked"
                ng-model="item.wallarm_process_time_limit" ng-min="1" ng-max="3600" required> millisecond(s)
              <label for="unpackResponse" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="locationEditForm.unpackResponse.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!-- Action On Reaching Of Request Processing Time Limit -->
          <div class="form-group form-inline">
            <label for="wallarmProcessTimeLimitBlock" class="col-sm-3 control-label">Action On Reaching Of Request Processing Time Limit</label>
            <div class="col-md-9">
              <select name="operationMode" id="operationMode" class="form-control" ng-disabled="_loading" ng-model="item.wallarm_process_time_limit_block"
                ng-options="mode as key for (mode,key) in $ctrl.wallarmProcessTimeLimitBlockList">
                <option value="">No Selected Processing Time Limit</option>
              </select>
              <label for="wallarmProcessTimeLimitBlock" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter"
                uib-popover="TODO text">
                <i class="fa fa-question-circle"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <pre> {{$ctrl.wallarmConfig| json}} </pre> -->
</div>
