<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pull-left page-title">
        Purge Cached Objects
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">

          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <div domain-select ng-model="domain" on-select="onDomainSelected()"></div>
              </div>
              <div class="pull-right">
                <a ui-sref="^.advanced" class="btn btn-info">
                  <i class="glyphicon glyphicon-cog"></i>&nbsp;
                  Advanced Mode
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-body">
          <form class="form-horizontal">

            <div class="form-group">
              <div class="col-md-7">
                <textarea ng-model="text" id="" style="width: 100%; height: 250px" autofocus></textarea>

                <div style="margin-top: 15px">
                  <button class="btn btn-danger"
                          ng-disabled="_loading || !domain"
                          ng-click="purgeText()">
                    <i class="glyphicon glyphicon-refresh spin" ng-if="_loading"></i>
                    <i class="glyphicon glyphicon-trash" ng-if="!_loading"></i>&nbsp;
                    Purge
                  </button>
                  &nbsp;
                  <a ui-sref="^.domains" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;
                    Cancel
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group ">
                  <div class="">
                    <label>Example:</label>
                    <br/>Purge all PNG files under /images, non-recursive (so e.g. files under /images/today/ will not be purged):
                    <br/>
                    <pre>/images/*.png</pre>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="">
                    Purge everything, recursively:
                    <pre>/**/*</pre>
                  </div>
                </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
