<div class="col-md-12 widgets--traffic-dist-destinations-gbt auto-scroll">
  <!--<h3>Origin/CDN Traffic Distribution By Requests</h3> -->
  <div class="alert alert-info" ng-if="!config.account_id && !config.app_id">
    Please click on <i class="glyphicon glyphicon-cog"></i> icon to configure the widget
  </div>
  <div ng-if="!!config.account_id || !!config.app_id">
    <div style="min-width: 480px; min-height: 350px" pie-chart ng-data="vm.destination_gbt" ng-chart-options="gbtChartOpts"></div>
  </div>
</div>
