<div class="waf-top-attacks">
  <uib-tabset active="topAttackerIPs" justified="false" id="topAttacksTabs">
    <uib-tab index="topAttackedURLs" heading="Top Attacked URLs" select="isOpened['topAttackedURLs']=true">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="isOpened['topAttackedURLs']==true" fl-store-name='filterTopAttack' waf-top-attacked-urls fl-country="countries"
            ng-domain="domain"></div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="topAttackerIPs" heading="Most Active Attacker IP Addresses" select="isOpened['topAttackerIPs']=true">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="isOpened['topAttackerIPs']==true" fl-store-name='filterTopAttack' waf-top-attacker-ips fl-country="countries"
            ng-domain="domain"></div>
        </div>
      </div>
    </uib-tab>

  </uib-tabset>
</div>
