<div class="waf-rules-list__biltin" ng-controller="wafRulesBiultInListController" ng-init="initList()">
  <div class="alert alert-info" ng-if="records.length == 0 && !_loading">
    There are no any built-in WAF rules configured in the system
  </div>
  <div class="alert alert-warning" ng-if="records == null && !_loading">
    Failed to retrieve a list of resources - please try again later
  </div>
  <div class="alert alert-info" ng-if="_loading">
    <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp; Loading...
  </div>
  <crud-pagination></crud-pagination>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="waf-rule-name">
            <a href="" ng-click="order('rule_name')">Rule Name</a>
            <span class="sortorder" ng-show="filter.predicate === 'rule_name'" ng-class="{reverse: filter.reverse}"></span>
          </th>
          <th ng-if="auth.isRevadmin()"><a href="" ng-click="order('visibility')">Visibility</a>
            <span class="sortorder" ng-show="filter.predicate === 'visibility'" ng-class="{reverse: filter.reverse}"></span>
          </th>
          <th><a href="" ng-click="order('comment')">Rule Description</a>
            <span class="sortorder" ng-show="filter.predicate === 'comment'" ng-class="{reverse: filter.reverse}"></span>
          </th>
          <th><a href="" ng-click="order('updated_at')">Updated At</a>
            <span class="sortorder" ng-show="filter.predicate === 'updated_at'" ng-class="{reverse: filter.reverse}"></span>
          </th>
          <th ng-if="auth.isRevadmin()"><a href="" ng-click="order('updated_by')">Updated By</a>
            <span class="sortorder" ng-show="filter.predicate === 'updated_by'" ng-class="{reverse: filter.reverse}"></span>
          </th>
          <th> Used By Domains </th>
          <th class="thin">Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr id="anchor{{::$index}}" ng-click="saveAnchorScrollIndex($index)" ng-repeat="item in filteredRecords | limitTo:filter.limit:filter.skip track by $index">
          <td class="waf-rule-name">
            <a href="" ui-sref=".edit({id: item.id})" ng-if="auth.isRevadmin()" uib-tooltip="Edit WAF Rule">{{item.rule_name}}</a>
            <a href="" ng-click="openViewDialogRule(e,item)" ng-if="!auth.isRevadmin()" uib-tooltip="View WAF Rule">{{item.rule_name}}</a>
          </td>
          <td ng-if="auth.isRevadmin()">{{item.visibility}} </td>
          <td class="description">{{item.comment}}&nbsp;</td>
          <td>{{getRelativeDate(item.updated_at) }}</td>
          <td ng-if="auth.isRevadmin()">{{item.updated_by}}</td>
          <td class="description">
            <span class="waf-rule-used-by" ng-repeat="domain in item.domains">
               <a ui-sref="index.webApp.domains.edit({id:domain.id})">{{domain.domain_name}}</a><span ng-if="!$last">,</span></span>&nbsp;
          </td>
          <td>
            <div waf-rule-staging-status ng-id="item.id"></div>
          </td>
          <td class="actions">
            <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>
            <a href="" ng-click="openViewDialogRule(e,item)" ng-if="!item.loading" uib-tooltip="View WAF Rule">
              <i class="fa fa-eye"></i>
            </a>
            <a href="" ui-sref=".edit({id: item.id})" ng-if="!item.loading && auth.isRevadmin()" uib-tooltip="Edit WAF Rule">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="" ng-if="!item.loading && auth.isRevadmin()" ng-click="onDuplicateWAFRule(e,item)" ng-class="{'disabled':isReadOnly()}"
              uib-tooltip="Duplicate WAF Rule">
              <i class="fa fa-clone"></i>
            </a>
            <a href="" ng-if="!item.loading && auth.isRevadmin()" ng-click="deleteWAFRule(item)" ng-class="{'disabled':isReadOnly()}"
              uib-tooltip="Delete WAF Rule">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <crud-pagination></crud-pagination>
  <hr>
</div>
