<div class="col-sm-12">
  <table class="table table-condensed" ng-if="$ctrl.checkResults.check_status_code != 'OK' && $ctrl.checkResults.data.length >1">
    <tbody>
      <tr ng-repeat="row in $ctrl.checkResults.data">
        <td width="10%" class="text-center"><i class="fa fa-check-circle" ng-animate-disabled ng-class="$ctrl.getClassStatusIcon(row.check_status_code)"> </i> </td>
        <td>{{row.message}}</td>
      </tr>
    </tbody>
  </table>
  <!-- <div><pre>{{$ctrl.checkResults | json}}</pre></div> -->
</div>
