<div class="row dashboard__title">
  <div class="col-md-12">

    <h2 class "h2 pull-left page-title">
   {{model.title}}
    <span class="h5 form-inline pull-right">
      <!-- TODO: make directive autorefresh-time-period -->
      <div class="form-group">
        <select class="select2 form-control fixed " ng-model="model.options.autorefresh">
          <option value="5">Each 5 Minutes</option>
          <option value="15">Each 15 Minutes</option>
          <option value="30">Each 30 Minutes</option>
          <option value="60">Each 1 Hour</option>
          <option value="">No Auto-Refresh</option>
        </select>
        <button class="btn btn-info " ng-click="model.refreshNow= true">
          <i class="glyphicon glyphicon-refresh"></i> Refresh Now
        </button>
      </div>
    </span>
    <span class="pull-right">
        <dashboard-btn-new class="pull-left btn btn-link" ng-if="!editMode && !!model"></dashboard-btn-new>
        <a href="" ng-if="editMode" title="Add New Widget" class="btn btn-link" ng-click="addWidgetDialog()">
          <i class="glyphicon glyphicon-plus-sign"></i>
        </a>
        <a href="" ng-if="editMode" title="Edit Dashboard Properties" class="btn btn-link"  ng-click="editDashboardDialog()">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
        <a href="" ng-if="options.editable" class="btn btn-link" title="{{editMode ? 'Save Changes' : 'Enable Edit Mode'}}" ng-click="toggleEditMode()">
          <i class="glyphicon" x-ng-class="{'glyphicon-edit' : !editMode, 'glyphicon-save' : editMode}"></i>
        </a>
        <a href="" ng-if="editMode" class="btn btn-link"  title="Undo Changes" ng-click="cancelEditMode()">
          <i class="glyphicon glyphicon-repeat adf-flip"></i>
        </a>
  </span>
</h2>
  </div>

