<li id="left-menu-dashboard-section" class="dashboard_menu list" ui-sref-active-if="{class: 'open-side-menu-item', state: 'index.dashboard'}"
    ng-class="{'open-side-menu-item': menuExpanded('index.dashboard'),'active-side-menu-item': $state.includes('index.dashboard')}">
    <a id="side-menu-dashboard-item" class="side-menu-item" ng-if="vm.dashboardsList.length>0" ng-click="goToState('dashboard', vm.dashboardsList[0].id)">
        <div class="left-menu-start" style="margin-right: 3px;">
            <i class="fa fa-tachometer"></i>
        </div>Dashboards
        <i ng-click="expandMenu('index.dashboard', $event)" ng-if="vm.dashboardsList.length > 0" class="pull-right {{ menuExpanded('index.dashboard') ? 'fa fa-caret-up' : 'fa fa-caret-down' }}"></i>
    </a>
    <span ng-if="vm.dashboardsList.length==0" class="side-menu-item item-title">
        <div class="left-menu-start">
            <i class="fa fa-tachometer"></i>
        </div> Dashboards
        <dashboard-btn-new></dashboard-btn-new>
    </span>
    <a ng-if="vm.dashboardsList.length>0" ng-repeat="dash in vm.dashboardsList" ui-sref-active="active" class="side-menu-sub-item"
        ui-sref="index.dashboard.details({dashboardId:dash.id})">{{dash.title}}</a>
</li>