<table class="purge-job-table table order-column table-striped" datatable="ng" dt-options="vm.purgeJobsDtOptions" dt-column-defs="dtColumnDefs">
  <thead>
    <th style="width: 15%">Submitted At</th>
    <th style="width: 30%">Request ID</th>
    <th>Purged URLs</th>
    <th>Submitted By</th>
    <th style="width: 15%">Completion Status </th>
    <th style="width: 7%"></th>
  </thead>
  <tbody>
    <tr ng-repeat="row in vm.purgeJobsList">
      <td><div uib-tooltip="{{ vm.getRelativeDate(row.create_date_time)}}">{{ row.create_date_time | date: 'MM/dd/yyyy hh:mm a'}}</div></td>
      <td><span>{{row.req_id}}</span></td>
      <td>
        <div class="purge-job-snippets"><span ng-repeat="item in row.snippets">"{{item}}"<span ng-if="!$last">, </span></span>
        </div>
      </td>
      <td><span>{{row.req_email}}</span></td>
      <td>{{vm.purgeJobStatus[row.req_status]}}</td>
      <td><a title="Details" ng-click="vm.showDetails(row)"><i class="glyphicon glyphicon-plus-sign"></i></a></td>
    </tr>
  </tbody>
</table>
