<div class="modal-header">
  <h3 class="modal-title">Confirm</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="newLocationForm">
    <div class="form-group"><label class="col-sm-12"> Please enter a new Location Name to create:</label></div>
    <div class="form-group" ng-class="{ 'has-error': newLocationForm.wafLocation.$invalid && newLocationForm.wafLocation.$dirty }">
      <div class="col-sm-12">
        <input type="text" autofocus class="form-control inline-block" ng-disabled="_loading" ng-model="newLocationName" name="wafLocation"
          id="wafLocation" placeholder="New Location Name" validate-waf-location-name validate-uniqueness-in-array="exists_names"
          ng-maxlength="50" required>
        <label for="wafLocation" class="text-info" popover-append-to-body="{{false}}" popover-trigger="mouseenter" uib-popover="Location name (50 characters max)">
              <i class="fa fa-question-circle"></i>
            </label>
        <div class="error-messages" ng-messages="newLocationForm.wafLocation.$error" role="alert" ng-messages-multiple>
          <div ng-messages-include="parts/shared/error-messages.html"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" ng-disabled="newLocationForm.$invalid" ng-click="ok(newLocationName)">OK</button>
</div>
