<div class="row">
  <div class="col-sm-12">
    <h2 class="pull-left page-title">
      Add New WAF Rule
    </h2>
  </div>
</div>
<div class="row" ng-init="initNew()">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <a ui-sref="^" ng-disabled="_loading" class="btn btn-info">
                <i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Back To List
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" name="createForm">
          <div class="form-group" ng-class="{ 'has-error': createForm.wafRuleName.$invalid && createForm.wafRuleName.$dirty }">
            <label for="rule_name" class="col-sm-2 control-label">Rule Name *</label>
            <div class="col-sm-10">
              <input type="text" autofocus class="form-control inline-block" ng-disabled="_loading" ng-model="model.rule_name" name="ruleName"
                id="rule_name" placeholder="WAR Rule Name" ng-pattern="WAF_RULE_NAME" ng-maxlength="150" required>
              <label for="rule_name" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Enter here a short WAF Rule name (150 characters max)">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="createForm.wafRuleName.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': createForm.comment.$invalid && createForm.comment.$dirty }">
            <label for="comment" class="col-sm-2 control-label">Description</label>
            <div class="col-md-10">
              <div class="col-sm-12 form-group">
                <textarea id="comment" placeholder="Description (max 300 symbol)" class="form-control inline-block" name="comment" ng-model="model.comment"
                  ng-disabled="_loading" ng-pattern="COMMENT_NO_SPECIAL_CHARS" ng-maxlength="300">
                </textarea>
                <label for="comment" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Enter a free-text description for the WAF Rule (300 characters max)">
                  <i class="fa fa-question-circle"></i>
                </label>
              </div>
              <div class="error-messages" ng-messages="createForm.comment.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="auth.isReseller() || auth.isRevadmin()" ng-class="{ 'has-error': createForm.accountId.$invalid && createForm.accountId.$dirty }">
            <label for="account_id" class="col-sm-2 control-label">Account *</label>
            <div class="col-sm-10">
              <ui-select ng-model="model.account_id" theme="select2" ng-animate-disabled ng-disabled="_loading" on-select="onAccountSelect($model)"
                style="min-width: 550px;" id="account_id" name="accountId">
                <ui-select-match placeholder="Select Account">{{$select.selected.companyName}}</ui-select-match>
                <ui-select-choices repeat="item.id as item in companies | filter: {companyName: $select.search}">
                  <div ng-bind-html="item.companyName|highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <label for="account_id" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Select account name the WAF Rule should be associated with">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="createForm.accountId.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="auth.isRevadmin()" ng-class="{ 'has-error': createForm.rule_type.$invalid && createForm.rule_type.$dirty }">
            <label for="rule_type" class="col-sm-2 control-label">WAF Rule Type</label>
            <div class="col-sm-10">
              <select class="form-control inline-block" ng-disabled="_loading" ng-model="model.rule_type" id="ruleType" name="rule_type"
                ng-options="obj.id as obj.typeName for obj in rule_types" required>
                <option value="">--- Select WAF Rule Type ---</option>
              </select>
              <label for="rule_type" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Select WAF Rule Type. Built-In rules are available for all customers, Customer rules are available for specific customers only">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="createForm.rule_type.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!-- Visibility -->
          <div class="form-group" ng-if="auth.isRevadmin()" ng-class="{ 'has-error': createForm.visibility.$invalid && createForm.visibility.$dirty }">
            <label for="rule_type" class="col-sm-2 control-label">WAF Rule Visibility</label>
            <div class="col-sm-10">
              <select class="form-control inline-block" ng-disabled="_loading" ng-model="model.visibility" id="typeVisibility" name="visibility"
                ng-options="obj.id as obj.typeName for obj in visibility_types" required>
                <option value="">--- Select WAF Rule Visibility ---</option>
              </select>
              <label for="rule_type" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Select the visibility status of the new WAF Rule. Public rules are visible for customers with proper permissions, Hidden rules are visible for Revadmin role only">
                <i class="fa fa-question-circle"></i>
              </label>
              <div class="error-messages" ng-messages="createForm.visibility.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>


          <div class="form-group" ng-class="{ 'has-error': createForm.rule_body.$invalid && createForm.rule_body.$dirty }">
            <label for="rule_body" class="col-sm-2 control-label">
              WAF Rule Statements *</label>
            <div class="col-md-10">
              <div class="col-sm-12 form-group">
                <textarea id="ruleStatements" placeholder="WAF Rule Statements" class="form-control text--courier inline-block" name="rule_body"
                  ng-model="model.rule_body" ng-disabled="_loading" ng-maxlength="65000" required>
                </textarea>
                <label for="rule_body" class="text-info" popover-append-to-body="{{true}}" popover-trigger="mouseenter" uib-popover="Specify here WAF rule statements in defined format">
                  <i class="fa fa-question-circle"></i>
                </label>
              </div>
              <div class="error-messages" ng-messages="createForm.rule_body.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a ui-sref="^" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
              </a>
              <button class="btn btn-success" id="create_waf_rule" ng-class="{'btn-disabled':isReadOnly()}" ng-disabled="disableSubmit(model) || isReadOnly()"
                ng-click="createWAFRule(model,false)">
                <i class="glyphicon" ng-class="_loading ? 'glyphicon-refresh spin':'glyphicon-ok'"></i>&nbsp; Create WAF Rule
              </button>
              <button class="btn btn-success" id="create_waf_rule_and_add_more" ng-class="{'btn-disabled':isReadOnly()}" ng-disabled="disableSubmit(model) || isReadOnly()"
                ng-click="createWAFRule(model,true);createForm.$setPristine()">
                <i class="glyphicon" ng-class="_loading ? 'glyphicon-refresh spin':'glyphicon-ok'"></i>&nbsp; Create And Add More
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
