/*
 *
 * New Design Panel
 * Overrides bootstrap panel
 *
 */
.nd-panel {
	background: none;
	.panel-heading {
		.nd-block;
	}
}

.kpi {
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.protocolbox {
	border: 1px solid #ccc;
	border-radius: 4px;
    padding: 6px 12px;
    margin: 6px;
    cursor: move;
}

.protocolbox input[type="checkbox"] {
	margin-left: 0px;
}

.ui-select-multiple {
  .ui-select-match-item {
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }
}