<div class="modal-header">
  <button type=button class="close" ng-click=closeDialog() aria-hidden=true>&times;</button>
  <h4 class=modal-title>New Dashboard</h4> </div>
<div class=modal-body>
  <form role="form" name="newDashboardForm">
    <div class=form-group>
      <label for=dashboardTitle>Title</label>
      <input type=text class="form-control" id=dashboardTitle ng-model="model.title" required> </div>
    <div class=form-group>
      <label>Structure</label>
      <div class=radio ng-repeat="(key, structure) in vm.structures">
        <label>
          <input type="radio" value="{{key}}" ng-model="model.structure" ng-change="changeStructure(key, structure)"> {{key}} {{structure.title}}</label>
      </div>
    </div>
    <div class="form-group">
      <label>Auto-Refresh</label>
      <select class="select2 form-control" ng-model="model.options.autorefresh">
        <option value="5">Each 5 Minutes</option>
        <option value="15">Each 15 Minutes</option>
        <option value="30">Each 30 Minutes</option>
        <option value="60">Each 1 Hour</option>
        <option value="">No Auto-Refresh</option>
      </select>
    </div>
  </form>
</div>
<div class=modal-footer>
  <button type=button class="btn btn-default" ng-disabled="_isLoading" ng-click=closeDialog()>Cancel</button>
  <button type=button class="btn btn-primary" ng-disabled="newDashboardForm.$invalid || _isLoading" ng-click="applyDialog(model)">Create</button>
</div>
